<%= form_for product do |f| %>
    <%= f.label 'Product Name' %>
    <%= f.text_field :name %>
    <% product.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
    <% end %>
    <br>

    <%= f.label 'Description' %>
    <%= f.text_area :description %>
    <% product.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
    <% end %>
    <br>

    <%= f.label 'Price' %>
    <%= f.number_field :price %>
    <% product.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
    <% end %>
    <br>

    <%= f.label 'Product Quantity' %>
    <%= f.number_field :qty %>
    <% product.errors.full_messages_for(:qty).each do |message| %>
        <div><%= message %></div>
    <% end %>
    <br>

    <%= f.submit %>
<% end %>