<% @prods.each do |prod| %>
    <ul>
        <li><%= prod.name %></li>
        <li><%= prod.description %></li>
        <li><%= prod.price %></li>
        <li><%= prod.qty %></li>

    </ul>
    <div>
        <%= link_to 'View Item', product_path(prod) %>
    </div>
    <hr>

<% end %>