<h1>New Product</h1>

<%= form_for @product do |f| %>
    <%= f.label 'Product Name' %>
    <%= f.text_field :name %>
    <br>

    <%= f.label 'Description' %>
    <%= f.text_area :description %>
    <br>

    <%= f.label 'Price' %>
    <%= f.number_field :price %>
    <br>

    <%= f.label 'Product Quantity' %>
    <%= f.number_field :qty %>
    <br>

    <%= f.submit %>
<% end %>